@import '../base/mixin';
@import '../base/variables';
/* Página Optionen */

.contenido-optionen{
    margin-top: 90px;
    margin-bottom: 90px;

    .grupo-cards{
        @include flex-wrap;
        justify-content: space-around;
    
        .card-size {
            max-width: 540px;
        }

        .card {
            transition: transform .2s;
        }

        .card:hover {
            transform: scale(1.05);
        }
    }
}
